body {
	font-size : 12px;
	color : #3c3c3c;
    font-family: Source Sans Pro !important;
}

@font-face {
    font-family: Source Sans Pro;
    src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

.page-title {
	font-size : 18px;
	font-weight : bold;
}

.sub-panel-heading {
	background: #e1e1e1; 
	padding : 3px 5px 5px 5px;
	height : 30px;

	a {
		text-decoration : none !important;
	}
}

.required {
	color : #f37432 !important;
}

.sub-header {
	color : #D3D3D3;
	font-size : 14px;
}

.navbar-static-top {
    border-width: 0 0 0px !important;
}

.top-bar {
	margin-bottom : 0 !important;
	.container-fluid {
		padding-right: 15px !important;
		background: #000 !important;
		a,span {
			color : #fff !important;
			font-size: 12px !important;
			font-weight: bold !important;
			text-transform : uppercase !important;
		}

		.navbar-right {
			span:first-child {
				margin-top : 7px;
			}
		}

	}
}

.hr-no-margin {
	margin : 0 !important;
	padding : 0 !important;
}

.top-logo-div {
	height : 114px;
	background : url(/images/header-bg.jpg) no-repeat;
	background-size: cover;
	div {
		color : #FFF;
		font-size : 20px;
		width : 150px;
		margin-left : 10px;
		margin-top : 10px;
		line-height : 110%;
	}
}


/* SIDEBAR */
	.div-sidebar {
		padding-left : 0 !important;
		padding-right : 0 !important;
		.sidebar-list {
			li {
				padding : 5px 5px 5px 5px;
				border-bottom : 1px solid #f0f0f0;
				a {
					text-decoration : none;
				}
			}
		}
	}
	


/* default format for panels */
.panel-as {
	border-radius : 0 !important;
	border-color: #d3e0e9 !important;

	.panel-heading {
		padding: 0 15px 0 15px !important;
		border-radius : 0 !important;
		font-size : 20px !important;
		text-transform : uppercase;
		background : #f37432 !important;
		color : #fff !important;
	}
}

	

.main-content {
}

/*Footer*/

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    vertical-align: middle !important;
    .top {
		background : #c41744;
		height : 50px;
		line-height: 50px;
    }
    .bottom {
		color : #3c3c3c !important;
    	padding-top : 10px;
    	padding-bottom : 10px;
    	background : #e6e6e6;
    	height : 200px; 
    	ul {
    		margin-right : 50px;
    	}
    }

    .highlight {
		color: #f37432 !important;
    }
}

.table-header {
	background-color : #3c3c3c;
	color : #fff;
	td,th {
		text-align : center !important;
		border : 0 !important;
	}
}

//EVENTS

.event-info-one {
	label,input {
		margin-right : 10px !important;
	}
}

.add-expense {
	border : 1px solid #398439;
	padding : 5px;
	text-align : center;
	input,select {
		width : 150px !important;
	}
	width: 67%;
	margin-right : 10px;
	float : left ;

	.title {
		display: block;
		width : 100px;
		color : #398439;
		margin-top : -20px !important;
		z-index : 1;
		background-color : #fff;
		text-align : center;
	}

}

.div-totals {
	border : 1px solid #398439;
	padding : 7px;
	text-align : center;
	label {
		font-size : 14px;
	}
	width: 15%;
	float : left ;

	.title {
		display: block;
		width : 100px;
		color : #398439;
		margin-top : -20px !important;
		margin-left : 10px !important;
		z-index : 1;
		background-color : #fff;
	}

}

.div-total-first {
    margin-right : 10px;
}

.div-after-tables {
	small,a {
		font-size : 12px !important;
		font-style: italic;
	}
}

.column-header {
	font-size : 18px;
	display : inline-block;
	margin-bottom : 10px;
}

.div-remarks {
	.name {
		
	}
	.comment {
		
	}
	.date {
		
	}
}

.thick-orange {
	border : 3px solid #f37432 !important;
}

.table-title {
	font-size : 18px;
	small {
		font-size : 12px;
	}
}

// Facilities
.div-add-furniture {
	label {
		padding : 0 !important;
	}
}

.div-asset-number {
	background-color : #f3f3f3;
	padding-top : 8px;
	margin-bottom : 10px;
}

// Browse button

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;


	input[type=file] {
		font-size: 100px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
}

//remarks

.div-new-comment {
	textarea {
		width : 80%;
		border : 0 !important;
		box-shadow : 0 important;
	}
}

//tab head

.tab-head-document {
	li.active {
		a {
			color : #23527c !important;
		}
	}
}

//table icons

.container-icon {
	border : 0 !important;
	background-color : transparent !important;
	cursor: pointer; 
	.glyphicon-remove {
		color : #9b2730;
		-webkit-transition: .2s;
	    -moz-transition: .2s;
	    -ms-transition: .2s;
	    -o-transition: .2s;
	    transition: .2s;
		&:hover {
	        color: darken(#9b2730,20%);
	    }
	}
	.glyphicon-pencil {
		color : #3e3e3e;
		-webkit-transition: .2s;
	    -moz-transition: .2s;
	    -ms-transition: .2s;
	    -o-transition: .2s;
	    transition: .2s;
		&:hover {
	        color: #000;
	    }
	}
	&:hover {
		text-decoration : none;
	}

	.icon-view {
		width : 15px;
		height : 15px;
    	background: url(/fonts/view-icon.png);
    	-webkit-transition: .2s;
	    -moz-transition: .2s;
	    -ms-transition: .2s;
	    -o-transition: .2s;
	    transition: .2s;
    	&:hover {
    		background: url(/fonts/view-hover.png);
    	}
	}

	//event details 

	.tbl-event-details {
		display : none;
		border : 1px solid black;
	}
	
}
